body {
  font-family: Roboto, sans-serif;
  line-height: 1.2;
  overflow-x: hidden;
  margin: unset;
  hyphens: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

img {
  width: 100%;
  min-width: 1px;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: underline;
  color: hsla(200, 100%, 50%, 1);
  text-decoration-skip: ink;
}

a:hover {
  text-decoration: none;
}

/* баг в хроме, поэтому фиелдсеты в див завернуты */
fieldset {
  margin: unset;
  padding: unset;
  border: none;
}

header {
  display: flex;
  width: 100%;
  margin-bottom: 1em;
  flex-wrap: wrap;
  justify-content: center;
}

.header-block {
  margin: 1rem;
}

.header-block.logo {
  flex-basis: 5rem;
}

.header-block.links {
  display: flex;
  flex-grow: 100;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.header-block.links .header-item {
  margin: 1rem;
}

.header-block.button {
  font-family: monospace;
  font-size: 1.2rem;
  position: relative;
  overflow: hidden;
  padding: .25em .5em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: inherit;
  border: 1px solid hsla(0, 0%, 0%, .2);
  border-radius: .5rem;
  flex-grow: 1;
  align-self: center;
}

.header-block.button:hover .overlay {
  transform: none;
  opacity: .4;
}

.header-block.button:active .overlay {
  opacity: 1;
}

.slide {
  display: flex;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.side {
  /* Не на боди - чтоб на мобилках лево и право не слипалось (из-за отрицательных марджинов у флексов) */
  margin: 1em;
  flex-basis: 60ch;
}

.slide.heading .side.left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.slide.heading h1 {
  font-size: 5em;
  font-weight: 300;
  line-height: .8;
  min-height: 4em;
  margin: unset;
  letter-spacing: -.025em;
}

@media (max-width: 550px) {
  .slide.heading h1 {
    font-size: 2.5em;
    min-height: 5em;
  }
}

.slide.heading h1 .bold {
  font-weight: 600;
}

.slide.heading h1 .colored {
  color: orange;
}

.slide.heading p {
  font-size: 1.5rem;
}

.slide h2 {
  font-size: 3em;
  line-height: 1.5;
  margin: unset;
}

/* Выбиральник размера набора */
.slide.size {
  margin-bottom: unset;
}

.slide.size .side.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.size-selector {
  display: flex;
  margin: -.125rem;
  flex-wrap: wrap;
}

.size-selector-button {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  margin: .25rem;
  padding: .75rem 1rem;
  cursor: pointer;
  border-radius: .5rem;
  background-color: hsla(0, 0%, 0%, .05);
  justify-content: space-between;
}

.size-selector input {
  position: absolute;
  max-width: 0;
  max-height: 0;
  opacity: 0;
}

.size-selector-button.small {
  font-size: 1em;
  flex-grow: 1;
}

.size-selector-button.medium {
  font-size: 1.3em;
  flex-grow: 5;
}

.size-selector-button.large {
  font-size: 1.6em;
  flex-grow: 10;
}

.size-selector-button-row {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.size-selector-button .normal {
  font-weight: lighter;
}

.size-selector-button .smaller {
  font-family: monospace;
}

.size-selector-button .bigger {
  font-weight: bolder;
  display: flex;
  padding-top: 1em;
  white-space: nowrap;
  flex-grow: 1;
  align-items: flex-end;
}

/* Ховера
.size-selector-button */
.overlay {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition-duration: .2s;
  transition-property: transform, opacity;
  transform: scaleY(0);
  transform-origin: bottom;
  opacity: .4;
  background-color: hsla(40, 100%, 50%, 1);
}

.size-selector-button:hover .overlay {
  transform: none;
}

.size-selector-button input:checked~.overlay {
  transform: none;
  opacity: 1;
}

.slide.size .side.right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.changer-size {
  position: relative;
  width: 100%;
  height: 40ch;
  transition-property: transform;
}

.changer-size,
.changer-size-item {
  transition-timing-function: cubic-bezier(.75, -1, .25, 2);
  transition-duration: .6s;
}

.changer-size-item {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transition-property: opacity;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.changer-size.small {
  transform: scale(.6);
}

.changer-size.small .changer-size-item.small {
  opacity: 1;
}

.changer-size.medium {
  transform: scale(.8);
}

.changer-size.medium .changer-size-item.medium {
  opacity: 1;
}

.changer-size.large {
  transform: none;
}

.changer-size.large .changer-size-item.large {
  opacity: 1;
}

.slide.tastes .side.right {
  display: flex;
  align-items: center;
}

.changer-tastes {
  display: flex;
  flex-wrap: wrap;
}

.changer-tastes {
  display: flex;
  margin: -.5rem;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.changer-tastes-item {
  margin: .5rem;
  transition: opacity 1s;
  opacity: .4;
  flex: 0 1 3ch;
}

.tastes-selector {
  display: flex;
  margin: -.125rem;
  flex-wrap: wrap;
}

.tastes-selector-block {
  display: flex;
  flex-direction: column;
  margin: .125rem;
  flex-grow: 1;
}

.tastes-selector-block-description {
  font-size: 1.5rem;
  text-align: center;
}

.tastes-selector-element {
  display: flex;
  flex-direction: column;
  padding: 0 .125rem;
  border: 1px dashed hsla(0, 0%, 0%, .2);
  border-radius: .5rem;
}

.tastes-selector-item {
  font-family: monospace;
  font-size: 1rem;
  position: relative;
  overflow: hidden;
  margin: .125rem 0;
  padding: .5rem;
  cursor: pointer;
  /* мозиллабаг, йеее */
  -moz-transform: rotate(0);
  border-radius: .5em;
}

.tastes-selector-item input {
  position: absolute;
  opacity: 0;
}

.tastes-selector-item-description {
  transition: opacity .4s;
  opacity: .2;
  text-shadow: 1px 0 white, 0 1px hsla(0, 0%, 100%, 1), -1px 0 hsla(0, 0%, 100%, 1), 0 -1px hsla(0, 0%, 100%, 1);
}

.tastes-selector-item .tastes-selector-item-description::after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-position: center;
  background-size: cover;
}

.tastes-selector-item.mint .tastes-selector-item-description::after {
  background-image: url('tastes-pics/mint.png');
}

.tastes-selector-item.desserts .tastes-selector-item-description::after {
  background-image: url('tastes-pics/desserts.png');
}

.tastes-selector-item.exotic .tastes-selector-item-description::after {
  background-image: url('tastes-pics/exotic.png');
}

.tastes-selector-item.fruits .tastes-selector-item-description::after {
  background-image: url('tastes-pics/fruits.png');
}

.tastes-selector-item.tobacco .tastes-selector-item-description::after {
  background-image: url('tastes-pics/tobacco.png');
}

.tastes-selector-item.berries .tastes-selector-item-description::after {
  background-image: url('tastes-pics/berries.png');
}

.tastes-selector-item input:checked~.tastes-selector-item-description {
  opacity: 1;
}

.tastes-selector-block.negative .tastes-selector-item-description::after {
  opacity: .25;
}

.tastes-selector-block.neutral .tastes-selector-item-description::after {
  opacity: .5;
}

.tastes-selector-block.positive .tastes-selector-item-description::after {
  opacity: 1;
}

.slide.bonuses {
  align-items: center;
}

.bonuses-description-highlighted {
  cursor: pointer;
  border-bottom: 2px dashed hsla(200, 100%, 50%, 1);
}

.bonus-selector-button {
  font-family: monospace;
  font-size: 1rem;
  position: relative;
  overflow: hidden;
  padding: .5em 1em;
  cursor: pointer;
  border: 1px solid hsla(0, 0%, 0%, .2);
  border-radius: .5em;
  background-color: transparent;
}

.bonus-selector-button:hover .overlay {
  transform: none;
  opacity: .4;
}

.bonus-selector-button:active .overlay {
  opacity: 1;
}

.bonus-rotator {
  position: relative;
  display: flex;
  overflow: hidden;
  margin: -.5ch;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.bonus-rotator::after {
  font-family: monospace;
  font-size: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  content: 'Nope. It\'s a secret.';
  transition: opacity 1s;
  opacity: 0;
  border: 1px solid hsla(0, 0%, 0%, .2);
  border-radius: .5em;
  background-color: hsl(0, 0%, 100%, 1);
  align-items: center;
  justify-content: center;
}

.bonus-rotator-item {
  height: auto;
  margin: .5ch;
  transition-duration: .2s;
  transition-property: fill, opacity;
  flex: 0 0 3ch;
}

.bonus-rotator-item.wire {
  transform: translateY(50%);
}

.bonus-rotator-item.rda,
.bonus-rotator-item.rdta,
.bonus-rotator-item.rta {
  transform: translateY(7.5%);
}

.bonus-rotator-item.checked {
  fill: hsla(40, 100%, 50%, 1);
}

.bonus-rotator.animation-finished::after {
  opacity: 1;
}

.bonus-rotator.highlight .bonus-rotator-item {
  fill: hsla(0, 0%, 0%, .2);
}

.bonus-rotator.highlight.wires .bonus-rotator-item.wire {
  fill: hsla(0, 0%, 0%, 1);
}

.bonus-rotator.highlight.wicks .bonus-rotator-item.wick {
  fill: hsla(0, 0%, 0%, 1);
}

.bonus-rotator.highlight.vape-bands .bonus-rotator-item.vape-band {
  fill: hsla(0, 0%, 0%, 1);
}

.bonus-rotator.highlight.stickers .bonus-rotator-item.sticker {
  fill: hsla(0, 0%, 0%, 1);
}

.bonus-rotator.highlight.extra-liquid .bonus-rotator-item.juice {
  fill: hsla(0, 0%, 0%, 1);
}

.bonus-rotator.highlight.rda .bonus-rotator-item.rda {
  fill: hsla(0, 0%, 0%, 1);
}

.bonus-rotator.highlight.rdta .bonus-rotator-item.rdta {
  fill: hsla(0, 0%, 0%, 1);
}

.bonus-rotator.highlight.rta .bonus-rotator-item.rta {
  fill: hsla(0, 0%, 0%, 1);
}

.bonus-rotator.highlight.boxmods .bonus-rotator-item.boxmod {
  fill: hsla(0, 0%, 0%, 1);
}

.bonus-rotator.highlight.mechmods .bonus-rotator-item.mechmod {
  fill: hsla(0, 0%, 0%, 1);
}

.address-selector {
  display: flex;
  margin: -.25rem -1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.address-selector-address-block {
  margin: .25rem 1rem;
  flex-grow: 1;
}

.address-selector-address-block.geo-button {
  padding: 0 .5rem;
  font-size: 1rem;
  font-family: monospace;
  background-color: transparent;
  border: 2px solid hsla(0, 0%, 0%, .2);
  line-height: 1.5;
  cursor: pointer;
  border-radius: .5rem;
}

.address-selector-address-block.geo-button {
  flex-grow: 0;
}

.address-selector-address-block.country {
  flex-basis: 30ch;
}

.address-selector-address-block.postal {
  flex-basis: 15ch;
  flex-grow: 0;
}

.address-selector-address-block.address {
  flex-basis: 30ch;
}

.address-selector-address-item.input {
  font-family: monospace;
  font-size: 1rem;
  box-sizing: border-box;
  width: 100%;
  margin: unset;
  border: none;
  border-bottom: 2px solid hsla(0, 0%, 0%, .2);
  line-height: 1.5;
}

.address-selector-address-block.postal .address-selector-address-item.input {
  letter-spacing: .5ch;
}

.address-selector-address-item.input::placeholder {
  text-overflow: ellipsis;
}

.address-selector-address-block.postal .address-selector-address-item::-webkit-inner-spin-button,
.address-selector-address-block.postal .address-selector-address-item::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.address-selector-address-block.postal .address-selector-address-item.input::placeholder {
  letter-spacing: 0;
}

.address-selector-address-item.description {
  position: absolute;
  width: 0;
  opacity: 0;
}

.changer-map {
  fill: hsla(0, 0%, 0%, .2);
}

.changer-map path {
  transition: fill .2s;
}

.changer-map path.checked {
  fill: hsla(40, 100%, 50%, 1);
}

.slide.review {
  position: relative;
}

.slide.review #order {
  position: absolute;
  top: 0;
}

.slide.review .side {
  ;
}

.slide.review h3 {
  font-size: 1.5rem;
  margin: .5rem 0;
}

.box-selector {
  display: flex;
  flex-wrap: wrap;
}

.box-selector-item {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  margin: .125rem;
  padding: .5rem;
  cursor: pointer;
  border: 1px solid hsla(0, 0%, 0%, .2);
  border-radius: .5em;
  justify-content: flex-start;
  flex-grow: 1;
}

.box-selector-item.small {
  flex-basis: 10ch;
}

.box-selector-item.medium {
  flex-basis: 12.5ch;
}

.box-selector-item.large {
  flex-basis: 15ch;
}

.box-selector input {
  position: absolute;
  max-width: 0;
  max-height: 0;
  opacity: 0;
}

.box-selector-row.heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

.box-selector-heading {
  font-size: 1.5rem;
  font-weight: 300;
  margin-right: .5rem;
}

.box-selector-volume {
  font-family: monospace;
}

.box-selector-row.img {
  position: relative;
  display: flex;
  margin: .5rem 0 1rem 0;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.box-selector-item.large .box-selector-row.img::after {
  font-weight: bolder;
  position: absolute;
  bottom: 10%;
  left: 50%;
  padding: .25rem .5rem;
  content: 'Best value';
  transform: translateX(-50%) rotate(5deg);
  white-space: nowrap;
  color: hsl(0, 0%, 100%);
  border-radius: .5em;
  background-color: hsla(0, 100%, 50%, .8);
}

.box-selector-row.description {
  font-family: monospace;
  line-height: 1;
}

.box-selector-juices,
.box-selector-bonuses {
  display: inline-block;
  margin-bottom: .5em;
}

.box-selector-bonus {
  line-height: .75;
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-bottom: 2px dashed hsl(200, 100%, 50%);
}

.box-selector-bonus::after {
  font-family: monospace;
  position: absolute;
  bottom: 100%;
  left: 50%;
  visibility: hidden;
  box-sizing: content-box;
  width: 100%;
  margin-bottom: .25em;
  padding: .25em .5em;
  transform: translateX(-50%);
  border-radius: .5em;
  background-color: hsla(0, 0%, 100%, .9);
}

.box-selector-bonus.little::after {
  content: 'Wire, wick, vape-band, sticker or extra e-liquid.';
}

.box-selector-bonus.big::after {
  content: 'Atomiser: RTA, RDTA, RDA, box- or mechmod';
}

.box-selector-bonus:hover::after {
  visibility: visible;
}

.box-selector-button {
  display: block;
  box-sizing: border-box;
  padding: .5em;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -1px;
  border: 1px solid hsla(0, 0%, 0%, .2);
  border-radius: .5em;
  background-color: hsla(0, 0%, 0%, .05);
}

.box-selector-item .overlay {
  transition-duration: .4s;
}

.box-selector-item:hover .overlay {
  transform: none;
  opacity: .4;
}

.box-selector-item input:checked~.overlay {
  transform: none;
  opacity: 1;
}

.contacts-selector {
  display: flex;
  margin: 0 -1rem;
  flex-wrap: wrap;
}

.contacts-selector-block {
  display: flex;
  margin: .5rem 1rem;
  flex-grow: 1;
}

.contacts-selector-block.contact-method-name {
  flex-basis: 30ch;
}

.contacts-selector-block.contact-method-phone {
  flex-basis: 30ch;
}

.contacts-selector-block.contact-method-email {
  flex-basis: 40ch;
}

.contacts-selector-block.contact-method-email-repeat {
  flex-basis: 50ch;
}

.contacts-selector-item {
  font-family: monospace;
  font-size: 1rem;
  transition: border-bottom-color .4s;
  border: none;
  border-bottom: 2px solid hsla(0, 0%, 0%, .2);
  flex-grow: 1;
}

input {
  transition: border-bottom-color .4s;
  border: none;
  border-bottom: 2px solid hsla(0, 0%, 0%, .2);
  outline: none;
  box-shadow: none;
}

input:focus {
  border-bottom-color: hsla(40, 100%, 50%, .4);
}

input:invalid:not(:placeholder-shown) {
  border-bottom-color: hsla(0, 100%, 50%, .4);
}

input:valid:not(:placeholder-shown) {
  border-bottom-color: hsla(200, 100%, 50%, .4);
}

.review-order-block.send-order {
  display: flex;
  margin: 0 -.5rem;
  justify-content: space-between;
}

.after-order-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 1rem;
  transition: transform .4s;
  transform: translateY(100%);
  background-color: hsla(0, 0%, 100%, .8);
  -webkit-backdrop-filter: blur(.5rem);
  backdrop-filter: blur(.5rem);
  justify-content: center;
  align-items: center;
}

.after-order-overlay-shown {
  overflow: hidden;
}

.after-order-overlay-shown .after-order-overlay {
  transform: none;
}

.after-order-overlay-block {
  overflow-y: scroll;
  max-width: 40ch;
  padding: 1rem;
  border: 1px solid hsla(0, 0%, 0%, .2);
  border-radius: .5rem;
  background-color: hsla(0, 0%, 100%, .8);
}

.after-order-overlay-element {
  margin-bottom: 1rem;
}

.after-order-overlay-element p {
  margin: unset;
}

.after-order-overlay-element.heading {
  margin-bottom: 2rem;
}

.after-order-overlay-item.heading {
  display: flex;
  margin-bottom: .5rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.after-order-overlay-item.heading h2 {
  margin: unset;
}

.after-order-overlay-item svg {
  height: 1rem;
  cursor: pointer;
  transition: fill .2s;
}

.after-order-overlay-item.discount-link {
  font-family: monospace;
  font-size: 1rem;
  display: inline-block;
  margin: .5rem 0;
  margin-left: -.5rem;
  padding: .5rem;
  border: 1px solid hsla(0, 0%, 0%, .2);
  border-radius: .5rem;
}

.after-order-overlay-element.shares {
  display: flex;
  margin: 0 -1rem -1rem -1rem;
  align-items: center;
}

.after-order-overlay-element.shares .after-order-overlay-item {
  display: flex;
  padding: 1rem;
  cursor: pointer;
  transition: opacity .2s;
  opacity: .75;
  /* не флекс-гроу - чтобы ширина одинаковой была (флекс базис в этом случае тож задается) */
  flex: 1;
  align-items: center;
  justify-content: center;
}

.after-order-overlay-element.shares .after-order-overlay-item:active {
  opacity: 1;
}

.after-order-overlay-element.shares .after-order-overlay-item svg {
  fill: white;
}

.after-order-overlay-item.facebook {
  background-color: hsla(220, 40%, 40%);
}

.after-order-overlay-item.twitter {
  background-color: hsl(200, 75%, 50%);
}

.after-order-overlay-item.copy {
  position: relative;
  background-color: hsla(0, 0%, 50%);
}

.after-order-overlay-item.copy::after {
  font-family: monospace;
  position: absolute;
  bottom: 100%;
  visibility: hidden;
  margin-bottom: .5rem;
  padding: .25rem .5rem;
  content: 'Copied';
  color: white;
  border-radius: .5rem;
  background: hsla(0, 0%, 0%, 1);
}

.after-order-overlay-item.copy:active::after {
  /*
    animation: after-order-overlay-copy-go .4s;
    */
  visibility: visible;
}

/*
@keyframes after-order-overlay-copy-go {
  0% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}
*/
/**/
aside {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  padding: .25rem 1rem;
  background: hsla(0, 0%, 100%, .9);
  flex-wrap: wrap;
  align-items: center;
}

aside .form.div {
  display: flex;
  flex-wrap: wrap;
}

aside .fieldset.div {
  display: flex;
  flex-wrap: wrap;
}

.aside-size-item {
  position: relative;
  overflow: hidden;
  margin: .125rem;
  padding: .25rem .5rem;
  cursor: pointer;
  border: 1px solid hsla(0, 0%, 0%, .2);
  border-radius: .5rem;
}

.aside-size-input {
  position: absolute;
  opacity: 0;
}

.aside-size-input:checked~.overlay {
  transform: none;
  opacity: 1;
}

.brands-block {
  display: flex;
  overflow-x: scroll;
  flex-basis: auto;
  align-items: center;
  scroll-snap-type: x mandatory;
  scroll-snap-points-x: repeat(20ch);
  -webkit-overflow-scrolling: touch;
}

.brands-item {
  margin: 0 2rem;
  flex-shrink: 0;
  flex-basis: 20ch;
  scroll-snap-align: center;
}

.brands-item:first-child {
  margin-left: 0;
}

.brands-item:last-child {
  margin-right: 0;
}

.slide.who-are-we {

}

.who-are-we-block {
  flex-basis: 30ch;
  margin: 1rem;
  border-radius: .5rem;
  padding: 1rem;
  /* box-shadow: 0 .5rem 1rem hsla(0, 0%, 0%, .2); */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.who-are-we-block.description {
	border: 1px solid hsla(0, 0%, 0%, .2);
}

.who-are-we-block.pick-n-vape {
  background: hsla(40, 100%, 50%, .4);
}

.who-are-we-block.viva-la-cloud {
  background: hsla(0, 0%, 0%, .05);
  fill: hsla(0, 0%, 0%, 1);
}

.who-are-we-block.el-thunder {
  background-color: hsla(220, 30%, 20%, 1);
  color: hsl(0, 0%, 100%);
  fill: hsla(0, 100%, 50%, .8);
}

.who-are-we-block.mdlr {
  background-color: hsla(0, 0%, 0%, .9);
  color: hsla(0, 0%, 100%, .9);
  fill: hsla(0, 0%, 100%, .9);
}

.who-are-we-block.toocha {
  background-color: hsla(50, 100%, 50%, .2);
  color: hsl(220, 100%, 10%);
  fill: hsla(220, 100%, 10%, 1);
}

.who-are-we-element.logo {
  flex-basis: 7.5ch;
  margin-bottom: 1rem;
}

.who-are-we-element.description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.who-are-we-item.description {
  margin: .25rem 0;
}

.who-are-we-element.link {
  margin-top: 1rem;
  align-self: flex-start;
}

.order-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.order-element {
	flex-basis: 60ch;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.order-item.description-buttons {
	display: flex;
	flex-direction: column;
}


.send-order-button {
	font-family: monospace;
	font-size: 1rem;
	position: relative;
	overflow: hidden;
	padding: .5rem 2rem;
	cursor: pointer;
	border: 1px solid hsl(0, 0%, 0%);
	border-radius: .5rem;
	background-color: transparent;
	align-self: center;
}

.send-order-button:active .overlay {
  transform: none;
  opacity: 1;
}
